header{
    background-color: rgba(10, 37, 64, 0.5);;
    padding: 15px 30px;
    border-bottom: 2px solid #00d2ff;
    border-radius: 12px;
}

body{
    background-color: #02070d;
}
 h1{
    color: cyan;
}

.profile-img {
    width: 200px;
    height: auto;
    border-radius: 12px;  
    display: block;
    margin: 0 auto;
}

 h2{
    color: rgb(157, 144, 29);
}

h3{
    color: navajowhite;
}
p{
    color:rgb(27, 241, 241) ;
}
h4{
    color: rgb(43, 198, 226);
}

li{
    color: aqua;
}

#about-me {
    
    background-image: url('../media/media2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 8px;
}

main {
    max-width: 900px;        
    width: 90%;              
    margin: 0 auto;          
    padding: 20px;           
}

header{
    max-width: 900px;      
    width: 90%;              
    margin: 0 auto;          
    padding: 20px;  
}
.box1{
    display: flex;
    align-items: center;
    gap: 20px;

}
.sec2 {
    background-color: rgba(10, 37, 64, 0.5);
    padding: 15px 30px;
    margin-bottom: 30px
    
    
}
.about-text{
    background-color: rgba(10, 37, 64, 0.9);;
    padding: 15px ;
    text-align: center;
    
}

.sec3{
    background-color: rgba(10, 37, 64, 0.9);;
    padding: 15px 30px;
    margin-bottom: 30px
}

.sec4{
    background-color: rgba(10, 37, 64, 0.9);;
    padding: 15px 30px;
}

.sec5{
    text-align: center;


}

.sec6{
    background-color: rgba(15, 69, 123, 0.9);
    margin-bottom: 20px;   /* ใส่ ; ปิดท้ายแล้ว */
    border-radius: 16px;    /* กำหนดขอบโค้งมน */
    padding: 20px;          /* ระยะห่างด้านในกรอบ */
    height: 80px;
}


.sec7{
    background-color: rgba(15, 69, 123, 0.9);
    margin-bottom: 20px;   /* ใส่ ; ปิดท้ายแล้ว */
    border-radius: 16px;    /* กำหนดขอบโค้งมน */
    padding: 20px;          /* ระยะห่างด้านในกรอบ */
    height: 80px;
    

}

.sec8{
    background-color: rgba(15, 69, 123, 0.9);
    margin-bottom: 20px;   /* ใส่ ; ปิดท้ายแล้ว */
    border-radius: 16px;    /* กำหนดขอบโค้งมน */
    padding: 20px;          /* ระยะห่างด้านในกรอบ */
    height: 80px;
}

.sec9{

    background-color: rgba(15, 69, 123, 0.9);
    margin-bottom: 20px;   /* ใส่ ; ปิดท้ายแล้ว */
    border-radius: 16px;    /* กำหนดขอบโค้งมน */
    padding: 20px;          /* ระยะห่างด้านในกรอบ */
    height: 80px;

}

.sec11{
    background-color: #072b57;
    padding: 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 16px;
}
.sec13{
    background-color: rgba(15, 69, 123, 0.9);
    margin-bottom: 20px;   /* ใส่ ; ปิดท้ายแล้ว */
    border-radius: 16px;    /* กำหนดขอบโค้งมน */
    padding: 20px;          /* ระยะห่างด้านในกรอบ */
    height: 80px;

    text-align: center;
}

a{
    color: #fff;
}